# Number of hospitals and beds per county

# Washington

Data for the list of hospitals and number of beds per hospital in Washinton state per county. 

Source:https://en.wikipedia.org/wiki/List_of_hospitals_in_Washington_(state)?fbclid=IwAR0vgjg_azCI_f9KPtUVtjuRgFjwUSvc5CfYgZgWzGJ8w_mOMl9GQqInH0c![image.png](attachment:image.png)

# Import required packages and read input files

In [15]:
# Import necessary packages 
import pandas as pd
from functools import reduce
from IPython.display import IFrame  
wikiLink_WA = "https://en.wikipedia.org/wiki/List_of_hospitals_in_Washington_(state)"
IFrame(wikiLink_WA, width=700, height=300)

Read the wikipedia page in Python.

In [16]:
data_WA = pd.read_html(wikiLink_WA,header = 0,flavor ='bs4',attrs = {'class': 'wikitable'})

Get the first table from the wikipedia page.

In [17]:
data_WA = data_WA[0]

# Clean data for merge

Convert data source to a data frame and select necessary columns.

In [18]:
WA_hospital = pd.DataFrame(data_WA)
WA_hospital = WA_hospital[['County','Hospital','Hospital Beds']]

For the purpose of this project, we are only interested in the aggregate number of hospitals and hospital beds per county. Our input data has the names of hospitals, and number of beds in each hospital per county in Washington and hence we need to create 2 new columns from the wikipedia data source that reflect this aggregated data at the county level. 

By grouping per county and using the .agg function, we get the aggregated value for the number of hospitals and hospital beds per county in Washington state.

In [19]:
WA = WA_hospital.groupby(
   ['County']
).agg(
    {
         'Hospital Beds':sum,    
         'Hospital': "count",  
    }
)
# Add an extra column to reflect the state name
WA = pd.DataFrame(WA)
WA = WA.assign(State='WA')
WA['County'] = WA.index

Renaming coloumns for consistency while merging.

In [20]:
WA = WA.rename(columns={'Hospital Beds': 'Number_of_beds', 'Hospital': 'Number_of_hospitals'})
WA

              Number_of_beds  Number_of_hospitals State        County
County
Adams                     45                    2    WA         Adams
Asotin                    25                    1    WA        Asotin
Benton                   438                    4    WA        Benton
Chelan                   267                    4    WA        Chelan
Clallam                  161                    2    WA       Clallam
Clark                    644                    2    WA         Clark
Columbia                  25                    1    WA      Columbia
Cowlitz                  193                    1    WA       Cowlitz
Ferry                     25                    1    WA         Ferry
Franklin                  25                    1    WA      Franklin
Garfield                  25                    1    WA      Garfield
Grant                    150                    4    WA         Grant
Grays Harbor              81                    2    WA  Grays Harbor
Island                    25                    1    WA        Island
Jefferson                 25                    1    WA     Jefferson
King                    5354                   25    WA          King
Kitsap                   337                    2    WA        Kitsap
Kittitas                  25                    1    WA      Kittitas
Klickitat                 42                    2    WA     Klickitat
Lewis                    158                    2    WA         Lewis
Lincoln                   73                    2    WA       Lincoln
Mason                     25                    1    WA         Mason
Okanogan                  90                    3    WA      Okanogan
Pacific                   30                    2    WA       Pacific
Pend Oreille              75                    1    WA  Pend Oreille
Pierce                  1648                    8    WA        Pierce
San Juan                  10                    1    WA      San Juan
Skagit                   205                    3    WA        Skagit
Snohomish                845                    4    WA     Snohomish
Spokane                 1478                    6    WA       Spokane
Stevens                   95                    2    WA       Stevens
Thurston                 500                    2    WA      Thurston
Walla Walla               87                    1    WA   Walla Walla
Whatcom                  253                    1    WA       Whatcom
Whitman                   50                    2    WA       Whitman
Yakima                   460                    4    WA        Yakima

# Oregon

Data for the list of hospitals and number of beds per hospital in Oregon state per county. 

Source:https://en.wikipedia.org/wiki/List_of_hospitals_in_Oregon![image.png](attachment:image.png)

# Read input files

In [21]:
wikiLink_OR = "https://en.wikipedia.org/wiki/List_of_hospitals_in_Oregon"
IFrame(wikiLink_OR, width = 700, height = 300)

Read the wikipedia page in Python and get the first table from 
the wikipedia page.

In [22]:
data_OR = pd.read_html(wikiLink_OR,header = 0,flavor ='bs4',attrs = {'class': 'wikitable'})
data_OR = data_OR[0]

# Clean data for merge

Convert data source to data frame and select necessary columns.

In [23]:
OR_hospital = pd.DataFrame(data_OR)
OR_hospital = OR_hospital[['County','Hospital','Bedsavailable[2]']]

For the purpose of this project, we are only interested in the aggregate number of hospitals and hospital beds per county. Our input data has the names of hospitals, and number of beds in each hospital per county in Oregon and hence we need to create 2 new columns from the wikipedia data source that reflect this aggregated data at the county level. 

By grouping per county and using the .agg function, we get the aggregated value for the number of hospitals and hospital beds per county in Oregon.

In [24]:
 OR = OR_hospital.groupby(
   ['County']
).agg(
    {
         'Bedsavailable[2]':sum,    
         'Hospital': "count",  
    }
)
OR = pd.DataFrame(OR)
# Add an extra column to reflect the state name
OR = OR.assign(State = 'OR')
OR['County'] = OR.index

Renaming coloumns for consistency while merging

In [25]:
OR = OR.rename(columns={'Bedsavailable[2]': 'Number_of_beds', 'Hospital': 'Number_of_hospitals'})
OR

            Number_of_beds  Number_of_hospitals State      County
County
Baker                 25.0                    2    OR       Baker
Benton               134.0                    1    OR      Benton
Clackamas            467.0                    4    OR   Clackamas
Clatsop               50.0                    2    OR     Clatsop
Coos                 173.0                    3    OR        Coos
Crook                 25.0                    1    OR       Crook
Curry                 24.0                    1    OR       Curry
Deschutes            274.0                    2    OR   Deschutes
Douglas              145.0                    3    OR     Douglas
Grant                 16.0                    1    OR       Grant
Harney                25.0                    1    OR      Harney
Hood River            25.0                    1    OR  Hood River
Jackson              543.0                    3    OR     Jackson
Jefferson             31.0                    1    OR   Jefferson
Josephine             98.0                    1    OR   Josephine
Klamath              131.0                    1    OR     Klamath
Lake                  24.0                    1    OR        Lake
Lane                 971.0                    5    OR        Lane
Lincoln               50.0                    2    OR     Lincoln
Linn                  89.0                    2    OR        Linn
Malheur               49.0                    2    OR     Malheur
Marion               478.0                    4    OR      Marion
Morrow                12.0                    1    OR      Morrow
Multnomah           1894.0                   10    OR   Multnomah
Polk                   6.0                    1    OR        Polk
Tillamook             25.0                    1    OR   Tillamook
Umatilla              74.0                    3    OR    Umatilla
Union                 25.0                    1    OR       Union
Wallowa               25.0                    1    OR     Wallowa
Wasco                 49.0                    1    OR       Wasco
Washington           840.0                    5    OR  Washington
Yamhill              107.0                    2    OR     Yamhill

# California

Data for the list of hospitals and number of beds per hospital in California state per county. This excel file was reformatted to make it into a form that can be read by Python. The updated csv file has been uploaded to github. 

Source:https://data.chhs.ca.gov/dataset/hospital-annual-utilization-report/resource/69b3e5b9-6e48-4598-af9e-72cdf4d34134?view_id=aac7d069-321a-4e0e-a24d-f9d628bffd81

# Read input files

Read the csv file in Python.

In [28]:
data_CA = pd.read_csv('California_data.csv')

# Clean data for merge

By grouping per county and using the .agg function, we get the aggregated value for the number 
of hospitals and hospital beds per county in California.

In [29]:
CA = data_CA.groupby(
   ['COUNTY']
).agg(
    {
         'TOT_LIC_BEDS':sum,  # TOT_LIC_BEDS is the total number of licensed beds in a hospital  
         'FAC_NAME': "count", # FAC_NAME is the Hospital name  
    }
)
CA = pd.DataFrame(CA)
# Add an extra column to reflect the state name
CA = CA.assign(State='CA')
CA['County'] = CA.index

Renaming column names.

In [30]:
CA = CA.rename(columns={'TOT_LIC_BEDS': 'Number_of_beds', 'FAC_NAME': 'Number_of_hospitals'})
CA

                 Number_of_beds  Number_of_hospitals State           County
COUNTY
Alameda                    3667                   22    CA          Alameda
Amador                       52                    1    CA           Amador
Butte                       553                    6    CA            Butte
Calaveras                    25                    1    CA        Calaveras
Colusa                       48                    1    CA           Colusa
Contra Costa               1803                   10    CA     Contra Costa
Del Norte                    49                    1    CA        Del Norte
El Dorado                   252                    3    CA        El Dorado
Fresno                     3584                   15    CA           Fresno
Glenn                        47                    1    CA            Glenn
Humboldt                    299                    6    CA         Humboldt
Imperial                    268                    2    CA         Imperial
Inyo                         62                    2    CA             Inyo
Kern                       1892                   14    CA             Kern
Kings                       173                    1    CA            Kings
Lake                         62                    2    CA             Lake
Lassen                       25                    1    CA           Lassen
Los Angeles               26672                  112    CA      Los Angeles
Madera                      464                    2    CA           Madera
Marin                       458                    4    CA            Marin
Mariposa                     34                    1    CA         Mariposa
Mendocino                   142                    3    CA        Mendocino
Merced                      242                    3    CA           Merced
Modoc                       113                    2    CA            Modoc
Mono                         17                    1    CA             Mono
Monterey                    794                    5    CA         Monterey
Napa                       1777                    3    CA             Napa
Nevada                      174                    2    CA           Nevada
Orange                     7985                   38    CA           Orange
Placer                      732                    3    CA           Placer
Plumas                      101                    2    CA           Plumas
Riverside                  4067                   23    CA        Riverside
Sacramento                 3489                   16    CA       Sacramento
San Benito                  144                    2    CA       San Benito
San Bernardino             5988                   28    CA   San Bernardino
San Diego                  7600                   27    CA        San Diego
San Francisco              4819                   17    CA    San Francisco
San Joaquin                1247                    9    CA      San Joaquin
San Luis Obispo            1740                    6    CA  San Luis Obispo
San Mateo                  1724                    8    CA        San Mateo
Santa Barbara              1089                    7    CA    Santa Barbara
Santa Clara                3693                   16    CA      Santa Clara
Santa Cruz                  372                    4    CA       Santa Cruz
Shasta                      721                    6    CA           Shasta
Siskiyou                     61                    2    CA         Siskiyou
Solano                      753                    7    CA           Solano
Sonoma                      892                    9    CA           Sonoma
Stanislaus                 1580                   10    CA       Stanislaus
Sutter                       46                    3    CA           Sutter
Tehama                       92                    2    CA           Tehama
Trinity                      48                    1    CA          Trinity
Tulare                     1974                    3    CA           Tulare
Tuolumne                    152                    2    CA         Tuolumne
Ventura                    1623                   11    CA          Ventura
Yolo                        153                    2    CA             Yolo
Yuba                        221                    1    CA             Yuba

# Combine data from different data sources

In [33]:
ayushi_data = pd.concat([CA,OR,WA])
ayushi_data

             Number_of_beds  Number_of_hospitals State       County
Alameda              3667.0                   22    CA      Alameda
Amador                 52.0                    1    CA       Amador
Butte                 553.0                    6    CA        Butte
Calaveras              25.0                    1    CA    Calaveras
Colusa                 48.0                    1    CA       Colusa
...                     ...                  ...   ...          ...
Thurston              500.0                    2    WA     Thurston
Walla Walla            87.0                    1    WA  Walla Walla
Whatcom               253.0                    1    WA      Whatcom
Whitman                50.0                    2    WA      Whitman
Yakima                460.0                    4    WA       Yakima

[124 rows x 4 columns]

Combining the county and state columns into a new column Location to ensure no duplicate rows.

In [53]:
ayushi_data["Location"] = ayushi_data["County"].astype(str) + "_" + ayushi_data["State"]
del ayushi_data['State']
del ayushi_data['County']
ayushi_data

             Number_of_beds  Number_of_hospitals        Location
Alameda              3667.0                   22      Alameda_CA
Amador                 52.0                    1       Amador_CA
Butte                 553.0                    6        Butte_CA
Calaveras              25.0                    1    Calaveras_CA
Colusa                 48.0                    1       Colusa_CA
...                     ...                  ...             ...
Thurston              500.0                    2     Thurston_WA
Walla Walla            87.0                    1  Walla Walla_WA
Whatcom               253.0                    1      Whatcom_WA
Whitman                50.0                    2      Whitman_WA
Yakima                460.0                    4       Yakima_WA

[124 rows x 3 columns]

# Output data as a csv file

Output the final data as a csv file and drop the index from the data frame.

In [54]:
ayushi_data.to_csv('ayushi_dhar.csv',header = True,index = False)